*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope";
}

.wrapper{
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px ;
}

.right-nav {
  display: flex;
  align-items: center;
}

.assistance{
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.assistance .phone{
  padding-right: 5px;
}

.assistance-para .road{
  color: #ccc;
}

.assistance-para .num{
  font-size: 18px;
  font-weight: 600;
}

#nav-links{
  list-style-type: none;
  display: flex;
  align-items: center;
  border-right: 1px solid #ccc;
padding-right: 20px;
}

#nav-links li a{
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  color: #1e1b1b;
}

.hero-flex{
  display: flex;
  width: 75%;
  margin: 0 auto;
}

#hero-section .text-section, #hero-section .image-section{
  width: 50%
}

#hero-section, #quote-section{
  padding: 80px 0;
}

#hero-section .image-section{
  background: url(../img/Header-Image.png);
  background-position: center;
  background-size: cover;
  min-height: 65vh;
  background-repeat: no-repeat;

}
.text-section h1{
  font-size: 40px;
  
}
.orange-btn{
  background-color: #ff6433;
  padding: 16px 40px;
  border-radius: 12px;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  display: inline-block;
  margin-top: 35px;
}
.time-section{
  margin-top: 30px;
  align-items: center;
}
.time-section .image-box{
width: 5%;  
margin-right: 10px;
display: flex;
align-items: center;
justify-content: center;
}
.text-section .time-text{
  width: 95%
}
.time-section img{
  width: 100%;
}
.light-grey{
  color:  #939191;
}
/*Quote section styling start below*/
#quote-section{
background-color: #E2E6E9;
width: 100%;
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}
.quote-container{
  display: flex;
  width: 70%;
  margin: auto;
} 
.quote-left-section{
  width:45%;
  padding-right: 60px;
}
.quote-left-section h2{
  font-size: 35px;
  margin-bottom: 30px;
}
.quote-left-section ul{
  list-style-type: none;
}
.quote-left-section ul li{
  margin-bottom: 20px;
}
.quote-flex{
  display: flex;
}
.text-box h5{
  font-weight: 800;
  font-size: 22px;
  
}
.quote-flex .image-box{
 margin-right: 10px;
}

.quote-flex .image-box img{
 width: 25px;
}

.image-box{
  width: 25px;
}
.know-more-text-box{
  display: flex;
  align-items: center;
  gap: 10px;
  height: 100%;
  }
  .know-more-text-box a{
    color: #1e1e1e;
    font-weight: 600;
    font-size: 18px;
  }
/*right section in quote section styling begin below*/
  .quote-right-section{
    width: 45%;
    padding-left: 40px;
  }
  .quote-right-section h3{
    font-size: 30px;
    margin-bottom: 30px
  }
  .quote-right-section .input-box input{
    width: 100%;
    margin-bottom: 10px;
    border: none;
    padding: 10px 20px;
  }
  .quote-right-section button{
    padding: 16px 40px;
    background-color:#ff6433 ;
    border: none;
    color:white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 12px;
margin-top: 30px;
  }

  /*quote section styling end above*/
  /* help section begin here*/
  #process-section{
    width:100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .process-container{
   width: 100%; 
   display: flex;
    justify-content: center;
    align-items: center;
  }
  .left-process-container{
   width: 50%;
    padding-left: 100px;
    display: flex;
    align-items: center;
  }
  .left-process-container h2{
   padding-bottom: 20px;
   font-size: 40px;
   font-weight: 800;
  }
  .left-process-container p{
    padding-bottom: 20px;
   
  }
  .left-process-container button{
    background-color: #ff6433;
    color: white;
    padding: 16px 40px;
    font-size: 18px;
    border-radius: 12px;
    font-weight: 600;
    border: none;
  }
  .right-process-container{
    width: 50%;
    margin: 100px 0;
  }
  .right-process-container ul {
    list-style-type: none;
  }
  .right-process-container ul  li{
    margin-bottom: 0px;
  }
  .process-box{
    display: flex;
  }
  .process-box-img{
    width: 50px;
    margin-right: 15px;
    text-align: center;
  }
  .process-box-img img{
    width: 100%;
    
  }
  
  .process-box-img .line-box img{ 
    width:2px;
  }
  .process-box-header p{
    font-size: 25px;
    font-weight: 700;
  }
  /*offer section styling begin below*/

  #offer-section{
    background-color: #f2f2f2;
    padding-bottom: 100px;
  }
  .offer-section-container{
    width: 1030px;
    margin: auto
  }
  .offer-section-header{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
  }
  .offer-section-header h2{
    font-weight: 800;
    font-size: 40px;
  }
  .offer-section-header  p{
font-weight: 600;
 font-size: 24;
 
  }
  .offer-section-top-container .item{
    width: 250px;
    height: 180px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
    transition: 0.9s;
  }
  .offer-section-top-container .item:hover, 
  .offer-section-bottom-container  .item:hover{
    background-color: #ff6433;
    color: white;
  }

  .offer-section-top-container .item-img{
    text-align: center;
  }
  .item-1{
    width: 250px;
    height: 180px;
    background-color: #ff6433;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: 600;

  }
  .offer-section-top-container{
     display: flex;
    justify-content: center;
    gap: 10px;
  }
  .offer-section-bottom-container  .item{
    width: 250px;
    height: 180px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
    transition: 0.9s;
  }
  .offer-section-bottom-container{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    padding-bottom: 30px;
    font-size: 24px;
    font-weight: 600;
  }
  .offer-section-bottom-container .item-img{
text-align: center;
  }
  .offer-more{
    display: flex;
    align-items: center;
    gap: 2px;
    justify-content: flex-end;
  }
  .offer-more a{
    color: #1e1e1e;
    font-size: 18px;
    font-weight: 600;

  }
  /*cta section styling begin below*/
  .cta-section-container{
    display: flex;
  }
  .cta-section-container .cta-bg-section{
    background: url(../img/cta-bg.png);
    width: 40%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .cta-section-content{
width: 60%;

  }
  .orange-back{
    width: 60%;
    display: flex;
    justify-content: flex-end;
background: url(../img/cta-bg-1.png);
background-position: left;
background-repeat: no-repeat;
background-size: cover;
  }
  .cta-header h3{
font-size: 30px;
font-weight: 700;
padding: 30px 0;
color: white
  }

  .cta-header{
    background-color: #ff6433;
    width: 100%;
    padding: 200px 0;
    padding: 30px;
  }
  .cta-button button{
    padding: 16px 40px;
    border: none;
    color: white;
    background-color: #1e1e1e;
    font-weight: 600;
    font-weight: 24px;
  }
  /*experience styling begin below*/
  .experience-container ul li h5{
font-size: 50px;
color:#661ce7;
  }
  .experience-list{
    display: flex;
    list-style-type: none;
    width: 70%;
    justify-content: space-between;
    margin: auto;
    padding: 50px 0;
   
  }
  .experience-container{
  background-color: #f2f2f2;
  }
  /*brand styling begin below*/
  .brand-top-section-wrapper{
    display: flex;
    width: 100%;
   
  }
  .top-brand-img img{
width: 200px;
  }
  .brand-section-container{
    width: 80%;
    margin: auto;
  }
  .brand-section-header{
    text-align: center;
    padding-top: 100px;
  }
  .brand-section-header h3{
    font-size: 40px;
    font-weight: 700;
  }
  /*Testimonial styling begin here*/
  #testimonial-section{
    background-color: #f2f2f2;
    padding: 50px 0 100px 0;
  }
  .testimonial-section-header{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    padding-top: 30px;
  }
  .testimonial-wrapper{
    margin-top: 50px;
    display: flex;
    gap: 50px;
    justify-content: center;
  }
  .testimonial-details{
    display: flex;
    align-items: center;
    gap: 5px
  }
  .testimonial-name p{
    font-size: 24px;
    font-weight: 600; 
  }
  .testimonial-name .city{
    font-size: 16px;
    color: #939191;
  }
  .left-testimonial, .right-testimonial{
    width: 400px;
    background-color: white;
    padding: 50px 30px;
  }
  .testimonial{
    font-size: 16px;
    font-weight: 600;
    padding-top: 20px;
  }
  .testimonial-container{
    width: 850px;
    margin: 0 auto;
  }
  .below-lines{
    text-align: center;
    margin-top: 10px;
    position: relative;
  }
  .arrow{
display: flex;
gap: 5px;
align-items: center;
position: absolute;
top: 0;
right: 0;
  }

  .arrow img{
    width: 30px;
  }
  /*testimonial styling ends here above*/
  #faq-section{
    background-color: #E2E6E9;
    padding-bottom:80px;
  }
  .faq-section-header{
    text-align: center;
    font-weight: 900;
    font-size: 24px;
    padding: 50px 0;
  }
  .faq-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    padding-bottom: 20px;
    
  }
  .faq-container{
    width: 600px;
    margin: 0 auto;
  }
  .faq-wrapper .faq-1{
  background-color: White;
   width: 100%;
   padding: 20px;
   margin-bottom: 10px;
  
  }
  .faq-subheader-img img{
   width: 50px
   
  }
  .faq-subheader{
    font-size: 24px;
    font-weight: 600;
  }
  .faq-content{
    color:#939191
  }
  /*footer Styling begin below*/
  #footer{
    background-color: #1e1b1b;
    color: white;
    opacity: 0.98;
  }
  .footer-container{
   width: 70%;
   margin: 0 auto;
   display: flex;
   padding: 100px 0;
  }
  .footer-left{
    width: 50%;
    
  }
  .footer-left .footer-left-header{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 50px;
  }
  .footer-right{
    width: 50%;
    
  }
  .footer-right .title{
    color: #ffffff;
    opacity: 0.6;
    font-weight: 600;
    font-size: 18px;
  }
  .footer-right .helpline p{
font-size: 24px;
font-weight: 600;
  }
  .footer-right .helpline{
    margin-bottom: 20px;
  }
  .footer-left-social img{
    margin: 0 10px ;
  }
  .footer-bottom{
  background-color:#1b1e1e;
  padding: 50px;
  }
  .footer-bottom-container{
    width: 70%;
    margin: 0 auto;
  }

  .footer-bottom-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-bottom .navigation ul{
   list-style-type: none;
   display: flex;
   align-items: center;
  }
  .footer-bottom .navigation ul li a{
    text-decoration: none;
    padding: 20px;
    color: white;
    font-weight: 600;
  }
 