*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope";
}

.wrapper{
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px ;
}

.right-nav {
  display: flex;
  align-items: center;
}

.assistance{
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.assistance .phone{
  padding-right: 5px;
}

.assistance-para .road{
  color: #ccc;
}

.assistance-para .num{
  font-size: 18px;
  font-weight: 600;
}

#nav-links{
  list-style-type: none;
  display: flex;
  align-items: center;
  border-right: 1px solid #ccc;
padding-right: 20px;
}

#nav-links li a{
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  color: #1e1b1b;
}

.hero-flex{
  display: flex;
  width: 75%;
  margin: 0 auto;
  
  
}

#hero-section .text-section, #hero-section .image-section{
  width: 50%;
}

#hero-section, #quote-section{
  padding: 80px 0;
}

#hero-section .image-section{
  background: url(../img/Header-Image.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 50%;
}
.text-section h1{
  font-size: 40px;
  
}
.orange-btn{
  background-color: #ff6433;
  padding: 16px 40px;
  border-radius: 12px;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  display: inline-block;
  margin-top: 35px;
}
.time-section{
  margin-top: 30px;
  align-items: center;
}
.time-section .image-box{
width: 5%;  
margin-right: 10px;
display: flex;
align-items: center;
justify-content: center;
}
.text-section .time-text{
  width: 95%
}
.time-section img{
  width: 100%;
}
.light-grey{
  color:  #939191;
}
/*Quote section styling start below*/
#quote-section{
background-color: #E2E6E9;
width: 100%;
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}
.quote-container{
  display: flex;
  width: 75%;
  margin: auto;
  justify-content: space-between;
} 
.quote-left-section{
  width:45%;
  padding-right: 60px;
}
.quote-left-section h2{
  font-size: 35px;
  margin-bottom: 30px;
}
.quote-left-section ul{
  list-style-type: none;
}
.quote-left-section ul li{
  margin-bottom: 20px;
}
.quote-flex{
  display: flex;
  align-items: center;
}
.text-box h5{
  font-weight: 800;
  font-size: 22px;
  
}
.text-box p{
  line-height: 25px;
  color: #1b1e1e;
 opacity: 0.6;
}
.quote-flex .image-box{
 margin-right: 10px;
}

.quote-flex .image-box img{
 width: 25px;
}

.image-box{
  width: 25px;
}
.know-more-text-box{
  display: flex;
  align-items: center;
  gap: 10px;
  height: 100%;
  }
  .know-more-text-box a{
    color: #1e1e1e;
    font-weight: 600;
    font-size: 18px;
  }
/*right section in quote section styling begin below*/
  .quote-right-section{
    width: 45%;
    padding-left: 40px;
  }
  .quote-right-section h3{
    font-size: 30px;
    margin-bottom: 30px;
  }
  .quote-right-section .input-box input{
    width: 100%;
    margin-bottom: 10px;
    border: none;
    padding: 20px 20px;
  }
  .quote-right-section button{
    padding: 16px 40px;
    background-color:#ff6433 ;
    border: none;
    color:white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 12px;
    margin-top: 30px;
  }

  /*quote section styling end above*/
  /* help section begin here*/
  #process-section{
    width:100%;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .process-container{
   width: 75%; 
   display: flex;
    justify-content: center;
    align-items: center;
  }
  .left-process-container{
   width: 50%;
    display: flex;
    align-items: center;
  }
  .left-process-container h2{
   padding-bottom: 20px;
   font-size: 40px;
   font-weight: 800;
  }
  .left-process-container p{
    padding-bottom: 20px;
   
  }
  .left-process-container button{
    background-color: #ff6433;
    color: white;
    padding: 16px 40px;
    font-size: 18px;
    border-radius: 12px;
    font-weight: 600;
    border: none;
  }
  .right-process-container{
    width: 50%;
  }
  .right-process-container ul {
    list-style-type: none;
  }
  .process-box{
    display: flex;
    padding-left: 100px;
  }
  .process-box-img{
    width: 50px;
    margin-right: 15px;
    text-align: center;
  }
  .process-box-img img{
    width: 100%;
  }
  
  .process-box-img .line-box img{ 
    width:2px;
  }
  .process-box-header p{
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 10px;
  }
  /*offer section styling begin below*/
  #offer-section{
    background-color: #f2f2f2;
    padding: 20px 0;
  }
  .offer-section-header{
    text-align: center;
  }
  .offer-section-header p{
    font-size: 24px;
  }
  .offer-section-header h2{
    font-size: 34px;
    padding-bottom: 1rem;
  }
 .offer-container{
      width: 70%;
      margin: 0 auto;
    }
    .offer-top-wrapper{
      width: 100%;
      display: flex;
    }
    .item{
      flex: 1;
      background-color: #fff;
      margin: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 30px 0;
    }
    .item-3{
      flex:1;
      background-color:#ff6433;
      margin: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 40px 0;
      color: white;
    }
    .offer-more{
      display: flex;
      align-items: center;
      gap: 5px;
      justify-content: flex-end;
      padding: 10px 10px;
    }
 
  
  /*cta section styling begin below*/
  .cta-section-container{
    display: flex;
    width: 100%;
  }
  .cta-section-container .cta-bg-section{
    background: url(../img/cta-bg.png);
    width: 40%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .cta-section-content{
width: 60%;

  }
  .orange-back{
    width: 60%;
    display: flex;
    justify-content: flex-end;
    background: url(../img/cta-bg-1.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .cta-header h3{
    font-size: 30px;
    font-weight: 700;
    padding: 30px 0;
    color: white
  }

  .cta-header{
    background-color: #ff6433;
    width: 100%;
    padding: 200px 0;
    padding: 30px;
  }
  .cta-button button{
    padding: 16px 40px;
    border: none;
    color: white;
    background-color: #1e1e1e;
    font-weight: 600;
    font-weight: 24px;
  }
  /*experience styling begin below*/
  .experience-container ul li h5{
    font-size: 50px;
    color:#661ce7;
  }
  .experience-list{
    display: flex;
    list-style-type: none;
    width: 70%;
    justify-content: space-between;
    margin: auto;
    padding: 50px 0;
   
  }
  .experience-container{
  background-color: #f2f2f2;
  }
  /*brand styling begin below*/
  .brand-top-section-wrapper{
    display: flex;
    width: 100%;
  }
  .top-brand-img img{
    width: 100%;
  }
  .brand-section-container{
    width: 80%;
    margin: auto;
  }
  .brand-section-header{
    text-align: center;
    padding-top: 100px;
  }
  .brand-section-header h3{
    font-size: 40px;
    font-weight: 700;
  }
  /*Testimonial styling begin here*/
  #testimonial-section{
    background-color: #f2f2f2;
    padding: 50px 0 100px 0;
    width: 100%;
  }
  .testimonial-section-header{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    padding-top: 30px;
  }
  .testimonial-wrapper{
    margin-top: 50px;
    display: flex;
    gap: 50px;
    justify-content: center;
  }
  .testimonial-details{
    display: flex;
    align-items: center;
    gap: 5px
  }
  .testimonial-name p{
    font-size: 24px;
    font-weight: 600; 
  }
  .testimonial-name .city{
    font-size: 16px;
    color: #939191;
  }
  .left-testimonial, .right-testimonial{
    width: 400px;
    background-color: white;
    padding: 50px 30px;
  }
  .testimonial{
    font-size: 16px;
    font-weight: 600;
    padding-top: 20px;
  }
  .testimonial-container{
    width: 850px;
    margin: 0 auto;
  }
  .below-lines{
    text-align: center;
    margin-top: 10px;
    position: relative;
  }
  .arrow{
    display: flex;
    gap: 5px;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
  }

  .arrow img{
    width: 30px;
  }
  /*testimonial styling ends here above*/
  #faq-section{
    background-color: #E2E6E9;
    padding-bottom:80px;
    width: 100%;
  }
  .faq-section-header{
    text-align: center;
    font-weight: 900;
    font-size: 24px;
    padding: 50px 0;
  }
  .faq-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    padding-bottom: 20px;
    
  }
  .faq-container{
    width: 600px;
    margin: 0 auto;
  }
  .faq-wrapper .faq-1{
  background-color: White;
   width: 100%;
   padding: 20px;
   margin-bottom: 10px;
  
  }
  .faq-subheader-img img{
   width: 50px;
  }
  .faq-subheader{
    font-size: 24px;
    font-weight: 600;
  }
  .faq-content{
    color:#939191;
  }
  /*footer Styling begin below*/
  #footer{
    background-color: #1e1b1b;
    color: white;
    opacity: 0.98;
  }
  .footer-container{
   width: 70%;
   margin: 0 auto;
   display: flex;
   padding: 50px 0;
   
  }
  .footer-left{
    width: 50%;
  }
  .footer-left .footer-left-header{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 50px;
  }
  .footer-right{
    width: 50%;
    
  }
  .footer-right .title{
    color: #ffffff;
    opacity: 0.6;
    font-weight: 600;
    font-size: 18px;
  }
  .footer-right .helpline p{
    font-size: 24px;
    font-weight: 600;
  }
  .footer-right .helpline{
    margin-bottom: 20px;
  }
  .footer-left-social img{
    margin: 0 10px ;
  }
  .footer-bottom{
  background-color:#1b1e1e;
  padding: 50px;
  }
  .footer-bottom-container{
    width: 70%;
    margin: 0 auto;
  }

  .footer-bottom-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-bottom .navigation ul{
   list-style-type: none;
   display: flex;
   align-items: center;
  }
  .footer-bottom .navigation ul li a{
    text-decoration: none;
    padding: 20px;
    color: white;
    font-weight: 600;
  }
  .copyright img{
     width: 100%;
  }
  /*Mobile view Styling*/

  @media (max-width: 600px){
    br{
      display: none;
    }
    .wrapper{
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      
    }
    #nav-links{
      flex-direction: column;
      border: none;
      width: 100%;
      align-items: center;
      padding: 20px;
      background-color: gainsboro;
    }
    #nav-links li{
      padding: 5px 0;
    }

    #nav-links li a{
      font-size: 16px;
      color: black;
      
    }
    .right-nav{
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
    }
    .assistance{
      display: none;
    }
    #logo{
      width: 100%;
      text-align: center;
      padding: 20px 5px;
    }
    .hero-flex{
       flex-direction: column-reverse;
       width: 100%;
    }
    #hero-section .text-section, #hero-section .image-section{
      width: 100%;
    }
    #hero-section, #quote-section{
      padding: 20px 0;
    }
    #hero-section .image-section{
      margin-top: 20px;
      min-height: 355px;
    }
    .text-section h1{
     text-align: center;
    }
    
    .text-section .button, .orange-btn{
      text-align: center;
      margin-top: 10px;
    }
    .time-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:0;
    width: 80%;
    margin: auto;
    
    }
    .quote-container{
      width: 100%;
      flex-direction: column;
    
    }
    .quote-left-section{
      width: 100%;
     padding: 0;
    }
    
    .quote-right-section{
     width:  100%;
     padding-left: 0;
     
    }
    
    .button{
      text-align: center;
      padding-bottom: 20px;
    }

    .process-container{
      width: 100%;
      flex-direction: column;
    }
    .left-process-container{
      width: 100%;
      flex-direction: column;
    }
    .left-process-container h2{
      text-align: center;
      padding-top: 10px;
    }
    .left-process-container p{
      line-height: 30px;
      text-align: justify;
      padding: 5px;
      margin-bottom: 20px;
    }
    .process-box-paragrapgh p{
     font-size: 20px;
     line-height: 30px;
     color: #1b1e1e;
    }
    .button{
      text-align: center;
    }
    .offer-section-container {
      width: 100%;
      padding: 10px;
      background-color: pink;
      grid-template-columns: repeat(2, 50px);
    }
    .right-process-container{
     width: 100%;
    }
    .process-box{
      width: 100%;
      padding: 0;
      align-items: flex-start;
      justify-content: flex-start;
    }
    .line-box{
      height: 150px;
    }
    .line-box img{
      height: 100%;
    }
    .offer-section-header h2 {
      font-size: 34px;
      padding: 0 ;
    }
    
    .offer-container {
      width: 100%;
     
    }
    .offer-top-wrapper{
      flex-direction: column;
    }

    .offer-section-container{
      grid-template-columns: 200px 200px;
      grid-auto-rows: 200px 200px;
      width: 100%;
    }
    .cta-bg-section{
      display: none;
    }
    .orange-back, .cta-section-content{
      width: 100%;
    }
    .experience-list{
      width: 100%;
      justify-content: center;
      align-items: baseline;
       flex-direction: column;
       padding: 20px;
    }
    .experience-list .list{
      padding-bottom: 20px;
    }
    .experience-list .list p{
        color: #1b1e1e;
        font-size: 24px;
    }
    .offer-section-header p{
      font-size: 24px;
      padding-bottom:30px;
    }
    .brand-top-bottom-wrap{
      display: flex;
      width: 90%;
      margin: 0 auto;
      justify-content: space-between;
    }
    .brand-section-header{
      padding-top:10px;
    }
    .brand-top-section-wrapper{
      flex-direction: column;
      width: 45%;
      align-items: center;
    }
    .top-brand-img, {
      width: 45%;
    }
    .brand-bottom-section-wrapper{
      flex-direction: column;
      width: 50%;
      align-items: center;
    }
    .testimonial-container{
      width: 100%;
    }
    .testimonial-wrapper{
      flex-direction: column;
      width: 100%;
    }
    .left-testimonial, .right-testimonial{
      width: 100%;
    }
    .testimonial p{
      width:100%;
    }
    .below-lines{
      width:100%;
    }
    .arrow{
      padding-right: 5px;
    }
    .faq-container{
      width: 100%;
    }
    footer{
      width:100%;
    }
    .footer-left{
      display: none;
    }
  
    .footer-bottom{
      width: 100%;
    }
    .footer-container{
      width: 100%;
      padding: 0;
    }
  
    .footer-right{
    width: 100%;
   padding: 50px;
    }
    
    .footer-bottom{
      padding: 0;
    }
    .footer-bottom-container{
      width: 100%;
    }
    .footer-bottom-wrapper{
      width: 100%;
      flex-direction: column;
      padding-bottom: 20px;
    }
    .footer-bottom-wrapper .logo{
      display: none;
    }
    .navigation {
     margin-bottom: 20px;
    }
    .footer-bottom .navigation ul li a{
     padding: 5px;
      
    }
    } 















    @media (max-width: 769px) {
      br{
        display:none;
      }
      #navigation-bar .nav{
        width: 95%;
        
      }
      #hero-section {
        padding: 50px 0;
      }
      #quote-section{
        padding:30px
      }
      .quote-container{
        width:100%;
      }
      .quote-left-section {
        padding: 0;
      }

      .quote-right-section {
       padding-left: 0;
      
      }
      .process-container{
        width:90%;
      }
      
      .process-box{
        margin-bottom: 10px;
        padding-left: 5px;
      }

    .offer-section-header h2 {
      font-size: 34px;
      padding: 0 1rem;
    }
    
    .offer-container {
      width: 100%;
      padding: 10px;
    }
    
    
    
      .brand-top-section-wrapper {
        display: flex;
        width: 100%;
      }
      
      .top-brand-img img {
        width: 100%;
      }
      
      .brand-section-container {
        width: 90%;
        margin: auto;
      }
      
      .brand-section-header {
        text-align: center;
        padding-top: 30px;
      }
      
      .brand-section-header h3 {
        font-size: 40px;
        font-weight: 700;
      }
      .testimonial-container {
        width: 90%;
        gap: 0;
      }
      .footer-bottom-container{
        width: 100%;
      }
      .footer-container{
        width: 90%;
      }
      .footer-left {
        text-align: center;
        padding-right: 20px;
      }
      .footer-bottom{
        padding: 20px;
      }
    }

    



 