*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Manrope";
}

.wrapper{
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px ;

}
.right-nav {
  display: flex;
  align-items: center;
}
.assistance{
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.assistance .phone{
  padding-right: 5px;
}
.assistance-para .road{
  color: #ccc;
}
.assistance-para .num{
  font-size: 18px;
  font-weight: 600;
}
#nav-links{
  list-style-type: none;
  display: flex;
  align-items: center;
  border-right: 1px solid #ccc;
padding-right: 20px;
}
#nav-links li a{
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  color: #1e1b1b;
}
/*Navigation bar styling ends here*/
.header-container{
  width: 70%;
  margin: 30px auto;
  display: flex;
  height: 100%;
}
.header-left{
  width: 40%;
  background: url(../img/service.jpg);
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
}
.header-right{
  width: 60%;
  background-color: #1e1b1b;
  color: white;
  padding: 100px 50px;
}
.header-right h1{
  padding-bottom: 20px;
}
.header-right p{
  padding-bottom: 40px;
  line-height: 25px;
}
.header-right a{
 color: white;
 text-decoration: none;
 background-color: #FF6433;
 padding: 16px 40px;
 border-radius: 14px;
}




/*Header Styling end here*/
#services-section{
  margin-top: 50px;
  background-color: #f5f5f5;
  width: 95vw;
 min-height: 100vh;
  display: flex;
  align-items: center;
}
.services-wrapper{
 display: flex;
 padding-left: 100px;
 margin: 20px;

}
.service-left {
  width:400px; 
  padding: 20px;
  background-color: white;
}
.service-left .service-left-img img{
  width: 100%;
}
.service-left-header h3{
  font-weight: 700;
  font-size: 30px;
  padding-bottom: 20px;
}
.service-left-details{
  display: flex;
  gap: 5px;
  align-items: center;
}
.service-left-para p{
  line-height: 25px;
  opacity:0.6;
  color: #232536;
}
.service-left-para{
  padding-bottom: 20px;
}

.services-right{
  width: 400px;
 height: 100%;
 display: flex;
 flex-direction: column;
 gap: 20px;

}
.service-box{
  display: flex;
  margin-left: 20px;
  justify-content: space-between;
}
.service-orange{
  width: 170px;
  height: 150px;
  background-color: #FF6433;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.service{
  width: 170px;
  height: 150px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 600;
}
/*Sevice styling ends here*/
.how-top-right-para{
  display: flex;
  align-items: center;
  gap: 10px;
}
.how-top-right-para-1{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px 0;
}
.how-img img{
  width: 40px;
}
.how-top{
  width: 75%;
  margin: 0 auto;
  display: flex;
  padding: 50px 0;
}
.how-top-right{
  width: 50%;
}
.how-top-right h3{
  font-size: 30px;
  font-weight: 700;
 padding-bottom: 30px;
}
.how-top-left{
  display: flex;
  width: 50%;
  justify-content: space-between;
}
.how-top-left-img-1{
  width: 49%;
  background: url(../img/Image\ 2\ \(2\).png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
 .how-top-left-img-2{
  width: 49%;
  background: url(../img/Image\ 1\ \(4\).png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.how-bottom{
  display: flex;
  width: 75%;
  margin: 0 auto;
  padding: 50px 0;
}
.how-bottom-right{
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.how-bottom-right-img-1{
  width: 49%;
  background: url(../img/Image\ \(6\).png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
 
}
.how-bottom-right-img-2{
  width: 49%;
  background: url(../img/Image\ \(7\).png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.how-bottom-left{
  width: 50%;
  padding: 0  50px;
}
.how-bottom-left h3{
  font-weight: 700;
  font-size:  30px;
  padding-bottom: 20px
}
.how-bottom-left p{
  line-height: 25px;
  font-size: 16px;
  color: #232536;
  opacity: 0.6;
  padding-bottom:30px;
}
.how-bottom-left-button button{
padding: 16px 40px ;
color: white;
border: none;
border-radius: 14px;
font-size: 18px;
font-weight: 700;
background-color: #FF6433;
}
/*How styling ends here */

#footer-section{
  background-color: #1e1b1b;
  color: white;
  opacity: 0.98;
}
.footer-container{
 width: 70%;
 margin: 0 auto;
 display: flex;
 padding: 100px 0;
}
.footer-left{
  width: 50%;
  
}
.footer-left .footer-left-header{
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 50px;
}
.footer-right{
  width: 50%;
  
}
.footer-right .title{
  color: #ffffff;
  opacity: 0.6;
  font-weight: 600;
  font-size: 18px;
}
.footer-right .helpline p{
font-size: 24px;
font-weight: 600;
}
.footer-right .helpline{
  margin-bottom: 20px;
}
.footer-left-social img{
  margin: 0 10px ;
}
.footer-bottom{
background-color:#1b1e1e;
padding: 50px;
}
.footer-bottom-container{
  width: 70%;
  margin: 0 auto;
}

.footer-bottom-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-bottom .navigation ul{
 list-style-type: none;
 display: flex;
 align-items: center;
}
.footer-bottom .navigation ul li a{
  text-decoration: none;
  padding: 20px;
  color: white;
  font-weight: 600;
}


  /*Mobile view Styling*/

  @media (max-width: 450px){
    br{
      display: none;
    }
    .wrapper{
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      border-bottom: 1px solid #ccc;
    }
    #nav-links{
      flex-direction: column;
      border: none;
      width: 100%;
      align-items: center;
      padding: 20px;
      background-color: #ff6433;
      
    }
    #nav-links li a{
      font-size: 18px;
      margin-bottom: 30px;
      font-weight: 900;
      color: white;
      
    }
    .right-nav{
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
    }
    .assistance{
      display: none;
    }
    #logo{
      width: 100%;
      text-align: center;
      padding: 20px 5px;
    }
    
    .header-container{
      width: 100%;
      flex-direction: column;
      margin: 0;
      min-height: 50vh;
    }
    .header-right{
      width: 100%;
      padding: 50px 10px;
      text-align: center;
      height:100%;
      margin: 0px;
    }
    
/*service section mobile responsive styling*/
    #services-section{
      height: 100%;
      width: 100vw;
      margin: 0px;
      justify-content: center;
    }
    .services-wrapper{
     padding:0px;
    flex-direction: column;
    margin: 0px;
    }
    .service-left {
      width:100%; 
      padding:0;
    
      
    }
    .service-left .service-left-img img{
     width: 100%;
    }
    .service-left-header h3{
      font-weight: 700;
      font-size: 30px;
      padding: 20px 0;
      text-align: center;
    }
    
    .service-left-para p{
      line-height: 25px;
      color: black;
      font-weight: 700;
      font-size: 18px;
      letter-spacing: 2px;
      line-height: 35px;
      padding: 5px;
      text-align: center;
    }

    .service-left-para{
      padding-bottom: 20px;
    }
    .service-left-details{
      padding-bottom: 20px;
      justify-content: flex-end;
      padding-right: 20px;
      font-size: 18px;
      font-weight: 700;
      color: black;
      letter-spacing: 2px;
    }
    
    .services-right{
    width: 100%;
     height: 100%;
     flex-direction: column;
     justify-content: center;
     gap: 0;
    }
    .service-box{
      margin-left: 0px;
      width: 100%;
    }
    .service-orange, .service{
      width: 160px;
      padding: 0px;
      border: 2px solid #ccc;
    }
/*How section mobile responsive styling*/

    .how-top{
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      padding: 0px;
    }
    .how-top-right{
      width: 100%;
      padding: 5px;
      
    }
    .how-top-right h3{
     text-align: center;
    }
    .how-top-left{
      width: 100%;
      padding: 0;
      margin-top: 20px;
      margin-bottom: 0px;
    }
    .how-top-left-img-1{
      width: 100%;
      height: 400px;
    }
     .how-top-left-img-2{
      width: 100%;
    }

    .how-bottom{
      padding: 0;
      width: 100%;
      flex-direction: column;
      margin-top: 0;
    }
    .how-bottom-right{
      width: 100%;
      display: none;
      justify-content: space-between;
    }
    .how-bottom-left{
      width: 100%;
      padding:  100px 5px; 
      text-align: center;
    }
    .how-bottom-left p{
      line-height: 35px;
      letter-spacing: 2px;
      font-size: 18px;
      color: black;
      font-weight: 700;
      padding-bottom:30px;
      
    }
    
        /*footer mobile responsive styling*/
    footer{
      width:100%;
    }
    .footer-left{
      display: none;
    }
  
    .footer-bottom{
      width: 100%;
    }
    .footer-container{
      width: 100%;
      padding: 0;
    }
  
    .footer-right{
    width: 100%;
   padding: 50px;
    }
    .footer-bottom{
      padding: 0;
    }
    .footer-bottom-container{
      width: 100%;
    }
    .footer-bottom-wrapper{
      width: 100%;
      flex-direction: column;
      padding-bottom: 20px;
    }
    .footer-bottom-wrapper .logo{
      display: none;
    }
    .navigation {
     margin-bottom: 20px;
    }
    .footer-bottom .navigation ul li a{
     padding: 5px;
      
    }
    } 


